In [ ]:
#VARIABLES (Containers)
x = 5 #int type 
y = 'Hello World'  #str type 
print (x, y)

#Tell the DATA TYPE 
print(type(x))
print(type(y))

5 Hello World
<class 'int'>
<class 'str'>

Rules for Python variables:

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [ ]:
#VARIABLE CASTING (to add the data type along with variable)
x = str('Hi') 
y = int(5)
z = float(3)
print(x, y, z)

Hi 5 3.0

In [17]:
#MULTIPLE VALUES 
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [19]:
#VARIABLE UNPACKING 
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [23]:
#OUTPUT FUNCTION (print)
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
#GLOBAL VARIABLES : Variables that are created outside of a function 
x = "awesome" #Outside the function 

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
#GLOBAL VARIABLE AND NORMAL VARIABLE 
x = "awesome"

def myfunct():
    y = "Good"
    print("Python is " + y)
    
myfunct()

print("Python is" + x)

Python is Good
Python isawesome

In [ ]:
#USING GLOBAL KEYWORD , USED TO CREATE VARIABLE FOR EVERYWHERE 
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)
print("HI" + x)

Python is fantastic
HIfantastic

DATA TYPES: 
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [34]:
#TYPE CONVERSIONS
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = complex(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = float(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

(1+0j)
2
1.0
<class 'complex'>
<class 'int'>
<class 'float'>

In [37]:
#RANDOM NUMBER 
import random

print(random.randrange(1, 10))

7

In [39]:
#CASTING 
x = int(8)
print(x)
print(type(x))

8
<class 'int'>

In [ ]:
#STRINGS
print("It's alright")  #QUOTES INSIDE A QUOTE 
print("He is called 'Johnny'")
print('He is called "Johnny"')

#MULTI LINE STRING 
x = '''Hi my 
name is 
Hrishi '''
print(x)

#POSITION IN ARRAY
a = "Hello, World!"
print(a[1])  #print(len(a)) PRINTS LEN OF ARRAY 

#LOOPING
for x in "banana":
  print(x)

It's alright
He is called 'Johnny'
He is called "Johnny"
Hi my
name is
Hrishi
e
b
a
n
a
n
a

In [65]:
#CHECK STRING 
x = 'Hi my name is Ram'
print('name' in x)

y = 'Hi my name is Ram'
if name in y:
    print("yes")

#CHECK IF NOT 
z = 'Hi my name is Ram'
print(name not in z)

#SLICING gives the value in the given range 
b = "Hello, World!"
print(b[2:5])

#UPPER / LOWER CASE
a = "Hello, World!"
print(a.lower())

#STRIP removes whitespace from begining 
a = " Hello, World! "
print(a.strip())

#REPLACE 
a = "Hello, World! "
print(a.replace("H", "J"))

#SPLITS
a = "Hello, World!"
print(a.split(","))

True
yes
False
llo
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']

In [69]:
#FORMATING THE STRING 
age = 36
txt = f"My name is John, I am {age}"
print(txt)

price = 50 
txt = f"The price is {price}"
print(txt)

#DISPLAY WITH TWO DECIMAL 
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

#WHEN THERE IS ALREADY "" FOR THE STRING 
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

My name is John, I am 36
The price is 50
The price is 59.00 dollars
We are the so-called "Vikings" from the north.

In [70]:
#BOOLEAN EXPRESSIONS
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

Operator	Name	Example	 
+	Addition	    x + y	
-	Subtraction	    x - y	
*	Multiplication	x * y	
/	Division	    x / y	
%	Modulus	        x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

In [ ]:
#LISTS (ORDERED, CHANGEABLE, ALLOWS DUPLICATES, CAN HAVE MULTIPLE DATA TYPES)
thislist = ["apple", "banana", "cherry"]
print(thislist)

#Multiple lists
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1, list2, list3)
print(type(list1))  #List type 

#LIST RANGING 
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

#CHECK IF STATEMENT 
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

#CHANGING THE LIST VALUES 
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

#TO ADD VALUES 
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

#INSERT VALUE
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry'] [1, 5, 7, 9, 3] [True, False, False]
<class 'list'>
['cherry', 'orange', 'kiwi']
Yes, 'apple' is in the fruits list
['apple', 'blackcurrant', 'cherry']

In [1]:
#LIST COMPREHENSION 
#WITHOUT 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

#WITH 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [16]:
#SORT LISTS 
thislist1 = ['apple', 'oragne', 'banana', 'pear']
thislist1.sort(reverse= False) #Sorts in asc by default  
print(thislist1)

#Sort using a KEY 
def myfun(n):
    return abs (n - 50)
thislist = [100,40,50,60]
thislist.sort(key = myfun)
print(thislist)

#Note: So if you want a **case-insensitive** sort function, use str.lower as a key function:

#COPYING A LIST 
mylist = thislist1.copy()
print(mylist)

#JOIN LISTS
list3 = thislist1 + thislist
print(list3)

'''
List Methods
Python has a set of built-in methods that you can use on lists.

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

'''

['apple', 'banana', 'oragne', 'pear']
[50, 40, 60, 100]
['apple', 'banana', 'oragne', 'pear']
['apple', 'banana', 'oragne', 'pear', 50, 40, 60, 100]

'\nList Methods\nPython has a set of built-in methods that you can use on lists.\n\nMethod\tDescription\nappend()\tAdds an element at the end of the list\nclear()\tRemoves all the elements from the list\ncopy()\tReturns a copy of the list\ncount()\tReturns the number of elements with the specified value\nextend()\tAdd the elements of a list (or any iterable), to the end of the current list\nindex()\tReturns the index of the first element with the specified value\ninsert()\tAdds an element at the specified position\npop()\tRemoves the element at the specified position\nremove()\tRemoves the item with the specified value\nreverse()\tReverses the order of the list\nsort()\tSorts the list\n\n'

In [ ]:
#TUPLES 
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

#SINGLE TUPLE
thistuple = ("apple", )
print(thistuple)

#INDEXING
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

#RANGE OF INDEX
thistuple = ("apple", "banana", "cherry", "xxx", "yyyy")
print(thistuple[1:4])

#CHECK IF ITEM EXISTS IN TUPLE
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, it is present")

#CHANGE VALUE IN TUPLE (NEED TO CONVERT TO LIST)


#x = ("apple", "banana", "cherry")
#y = list(x)          # convert tuple to list
#y[1] = "kiwi"        # change element
#x = tuple(y)         # convert list back to tuple

#print(x)

#ADD ITEMS TO TUPLE
#thistuple = ("apple", "banana", "cherry")
#y = list(thistuple)
#y.append("orange") / y.remove("apple") Removes apple 
#thistuple = tuple(y)


#UNPACKING TUPLE 
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)


fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)


#LOOPING
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

#WHILE LOOP
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
   print(thistuple[i])
   i = i +1

banana
('apple',)
cherry
('banana', 'cherry', 'xxx')
Yes, it is present
apple
banana
cherry
apple
banana
['cherry', 'strawberry', 'raspberry']
apple
banana
cherry

In [ ]:
#SET : unordered, unchangeable*, and unindexed , no duplicates
thisset = {"apple", "banana", "cherry"}
print(type(thisset)) # or Len

set1 = {"abc", 34, True, 40, "male"} # Any data types 
print(set1)

#To check any item in or not in set 
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset) #Or not in 


#Add new or REMOVE item to set 
thisset = {"apple", "banana", "cherry"}
thisset.add("orange") # OR remove 
print(thisset)

#Add new set 
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

#Remove random item  
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

<class 'set'>
{True, 34, 'abc', 40, 'male'}
True
{'apple', 'orange', 'cherry', 'banana'}
{'apple', 'pineapple', 'papaya', 'mango', 'cherry', 'banana'}

In [15]:
#Dictionaries : Store keys and values
#Example: 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": "1964"
}
print(thisdict)

#Different data types can be used in a dict
thisdict = {
  "brand": "Ford", #string
  "electric": False, #boolean
  "year": 1964, #int
  "colors": ["red", "white", "blue"] #list
}

#Accessing items in the dict 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]  #OR thisdict.get() OR thisdict.key (for key values)

#Adding new item to dict
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

#Change item name
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018  #For UPDATE , dict.update({year: 2020})

#Remove specific key value
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

#DEL Removes complete dict AND Clear (clears the values inside dict)
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

#For loop returns values
#thisdict =	{
 # "brand": "Ford",
  #"model": "Mustang",
  #"#year": 1964
#}
#for x in thisdict.values():
 # print(x)

 #Make a COPY of dict 
 thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

#Copy of dict to another new dict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

IndentationError: unexpected indent (2239405077.py, line 77)

In [ ]:
#IF condition
a = 33
b = 200
if b > a:
  print("b is greater than a")

#Shorthand IF:(Ternary Operators)
if a > b: print("a is greater than b")


#ELIF: Prev cond not TRUE then try next 
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

#Shorthand ELSE (Ternary Operators)
a = 2
b = 330
print("A") if a > b else print("B")

#ELSE: Catches anything which isn't is prev conds
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

#AND/ OR: 
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

#If NOT:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

b is greater than a
a and b are equal

In [4]:
#Match statement: Used instead of writing mulitple conditions 
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

# " _ " is used when there are no matches and code will execute 
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

# " | " is used to check for more than one value match 
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Thursday
Looking forward to the Weekend
Today is a weekday

In [7]:
#Loops: 
#WHILE (As long as a cond is TRUE)
i = 1 #i is initial starting point 
while i < 6:
  print(i)
  i += 1

#Break 
i = 1  # Step 1: Initialize a variable 'i' with value 1
while i < 6:  # Step 2: Start a while loop that runs as long as 'i' is less than 6
  print(i)  # Step 3: Print the current value of 'i'

  if i == 3:  # Step 4: Check if 'i' is equal to 3
    break     # Step 5: If yes, exit the loop immediately using 'break'

  i += 1  # Step 6: Increment the value of 'i' by 1

#Continue 
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

#Else
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
1
2
3
1
2
4
5
6
1
2
3
4
5
i is no longer less than 6

In [ ]:
#FOR (Execute set of statement once with each item in list, tuple,set etc)
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

#Using Break 
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
  
#Continue: Skips the given item 
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

#Range
for x in range(6):
  print(x)

for x in range(2, 30, 3):  #Here 3 will be the increment 
  print(x)

#Else 
for x in range(6):
  print(x)
else:
  print("Finally finished!")

#Nested loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

apple
banana
cherry
apple
banana
apple
cherry

In [ ]:
#Functions: (A function is a block of code which only runs when it is called)
def my_function():
  print("Hello from a function")
my_function()

#With Arguments
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

#Two ARG 
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

#Unknown Parameter 
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

#Unknown keyword arg
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

#List as arg
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

#Return statment: (To let a function return a value, use the return statement)
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

Hello from a function
Emil Refsnes
Tobias Refsnes
Linus Refsnes
Emil Refsnes
The youngest child is Linus
His last name is Refsnes

In [ ]:
#Lambda function 
x = lambda a : a + 10
print(x(5))

x = lambda a, b : a * b
print(x(5, 6))

#Example 
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

15
30

In [17]:
#Array: An array is a special variable, which can hold more than one value at a time.
#Example:
cars = ["Ford", "Volvo", "BMW"]
x = cars[0]
print(x)

#To change value 
cars[0] = "Toyota"

#Looping of array: 
for x in cars:
  print(x)

#Adding in array (Append)
cars.append("Honda")
#Removing: 
cars.pop(1)

Ford
Toyota
Volvo
BMW

'Volvo'

In [ ]:
#Classes / Objects
#A Class is like an object constructor, or a "blueprint" for creating objects.
#Example: 
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

#Using _init__ : 
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)


#WITHOUT STR FUNCTION: 
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

#WITH STR FUNCTION:

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

#Method in Object
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
#p1.age = 40 #To ADD 
#del p1.age #To DELETE

p1.myfunc()

5
John
36
<__main__.Person object at 0x000001F2677224B0>
John(36)
Hello my name is John

In [ ]:
#Inheritance
# Inheritance allows us to define a class that inherits all the methods and properties from another class.
#Parent class is the class being inherited from, also called base class.
#Child class is the class that inherits from another class, also called derived class.

class Person:               #Parent Class 
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname 
    def printname(self):
        print(self.firstname, self.lastname)

class Student(Person):  #Child Class
    def __init__(self, fname, lname):
        super().__init__(fname, lname)  #Super() inherits all the character from Parent class
x = Student("john", "XXX")
x.printname()

john XXX

In [7]:
#Iterators: Contains countable number of values.
#With tuple
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

#With String
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

#Used in Class and Object
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

apple
banana
cherry
b
a
n
a
n
a
1
2
3
4
5

In [8]:
#Polymorphism 
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [11]:
#Scope:
#Local scope
def myfunc():
  x = 300
  print(x)

myfunc()

#Inside a function
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

#Global scope: Outside function
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

#Global keyword , the variable can be used in any function
def myfunc():
  global x
  x = 300

myfunc()

print(x)

#example 
a = 15
def display():
  a = 10
  print(a)

display()

300
300
300
300
300
10

In [5]:
#Date: We need to import the module 
import datetime

x = datetime.datetime.now()
print(x)

#For Readable strings (STRFTIME)
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

2025-04-23 18:45:28.233823
June

In [ ]:
#Math Function: Inbuilt module
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

#Absolute value
x = abs(-7.25)

print(x)

#Power:
x = pow(4, 3)  #4 to the pow of 3 

print(x)

#Sqrt: Math function import 
import math
x = math.sqrt(64)

print(x)


x = math.ceil(1.4)  #Rounds number upward 
y = math.floor(1.4) #Rounds number downward

print(x) # returns 2
print(y) #returns 1

5
25
7.25
64
8.0
2
1

In [ ]:
#RegEX
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")


#To find pattern of words
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

#To Split
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

In [16]:
#String formating
txt = f"The price is 49 dollars"
print(txt)

#placeholder
price = 59
txt = f"The price is {price} dollars"
print(txt)

#Operations
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 49 dollars
The price is 59 dollars
The price is 1180 dollars